<div>
    <p>Args: {{args}}</p>
    <p>SO: {{so}}</p>
    <p>Node ver.: {{nodeVer}}</p>
    <p>rss: {{rss}}</p>
    <p>Execution path: {{execPath}}</p>
    <p>Process ID: {{pId}}</p>
    <p>Project folder: {{folder}}</p>
    <p>No. of CPU cores: {{cores}}</p>
</div>